<div class="nl-form-outer-wrapper">
    <div class="center-box  reset-password text-center nl-form-wrapper">
        <div *ngIf="!passwordReset">
            <div class="form-header">
                <h3 class="fh-title">Reset your password</h3>
                <div class="fh-subtitle">Choose a new password for this user account.</div>
            </div>
            <form [formGroup]="passwordResetForm" class="nl-form" (ngSubmit)="resetPassword(passwordResetForm.value)">
                <div *ngIf='modelState.length>0'>
                    <div class="alert alert-danger fade in alert-dismissable nl-alert">
                        <ul>
                            <li *ngFor='let error of modelState'>
                                {{error}}
                            </li>
                        </ul>
                        {{error}}
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" id="email" name="email" formControlName="email" class="form-control" placeholder="Email">
                </div>
                <div formGroupName="passwords" class="form-group-w">
                    <div class="form-group">
                        <input type="password" id="password" name="password" formControlName="password" class="form-control" placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <input type="password" name="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Reset" [disabled]="!passwordResetForm.valid">
            </form>
        </div>
        <div *ngIf="passwordReset" class="text-center nl-success">
            Your password has been reset successfully!
        </div>
    </div>
</div>