<div class="master-sound-player" *ngIf='hasAudioToPlay && !lyricKaraokeInDisplay' [@displayMasterAudioPlayer]>

  <!--<span class="icon-minimize"></span>   will implement in next phase-->
  <div class="player-lt clearfix">
    <div class="song-details clearfix">
      <div class="song-details-inner">
        <div class="player-artwork avatar">
          <img src="{{songAudio.song.profilePicture?.imageUrl}}?size=60" alt="{{songAudio.song?.title}}">
        </div>

        <div class="player-song-title">
          <h3 id="stitle" title=""><a [routerLink]="['/songs', songAudio.song.urlFriendlyTitle]" class="nl-track-title__track nl-track-title__track-link">{{songAudio?.song?.title}} </a></h3>
          <p>
            <nl-comma-separated-anchors *ngIf='songAudio.song.singers' [cssClasses]="'nl-track-title__artist nl-track-title__artist-link'"
              [anchors]='songAudio.song.singers | artistRolesToAnchors'>
            </nl-comma-separated-anchors>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="master-song-progress">
    <nl-audio-slider class="player-inline-status" [currentTime]='currentTime' [duration]='duration' [bufferedTime]='bufferedTime'
      (change)='seekAudioPlayerTo($event)' (sliding)='sliding($event)' [bufferCss]="'buffer-master-audio-player'"></nl-audio-slider>

  </div>
  <div class="player-rt">
    <div class="playbackControls">
      <!--To Remove Unwanted White-space created by display inline-block-->
      <div class="main-switch">
        <button (click)='likeSong()' class="btn btn-master-controls fa fa-heart-o" [ngClass]="{'fa-heart-o': !isSongLiked, 'fa-heart active':isSongLiked }"
          [attr.title]="isSongLiked?'Unlike song':'Like song'">
      </button>
        <button (click)='playPrevious()' class="btn btn-master-controls fa fa-step-backward" [disabled]="!hasPrevious"></button>
        <!--
                  --><button (click)='onPlayStateChanged()' class="btn btn-master-play fa" [ngClass]="{'fa-pause': isPlaying, 'fa-play':!isPlaying }"></button>
        <!--
                  --><button (click)='playNext()' class="btn btn-master-controls fa fa-step-forward" [disabled]="!hasNext"> </button>
      </div>
      <!--
              -->
      <div class="other-switch">
        <div class="karaoke-wrap">
          <button *ngIf='isEditable && !songAudio.hasKaraoke && !songAudio.lyricKaraoke' (click)="showKaraokePlayer()" class="btn btn-link btn-add-karaoke"
            title="Add Karaoke">
                </button>
          <button *ngIf='songAudio.lyricKaraoke || songAudio.hasKaraoke' (click)="showKaraokePlayer()" class="btn btn-link btn-start-karaoke"
            title="Start Karaoke">
                </button>
        </div>
        <button (click)='showAudioPlayList()' class="btn btn-master-controls fa fa-list-ul" title="Play List"></button>
        <button (click)='toggleLoopPlayList()' class="btn btn-master-controls fa fa-retweet" [ngClass]="{'active': playListLoop }"
          title="Loop Play List"></button>
        <!--
              --><button (click)='toggleLoopSong()' class="btn btn-master-controls fa fa-repeat" [ngClass]="{'active': songLoop }"
          title="Loop Song"></button>
        <!--
              --><button (click)='togglePlayRandom()' class="btn btn-master-controls fa fa-random" [ngClass]="{'active': playRandom }"></button>
        <!--
              -->
        <div class="volume-control-wrap dropup">


          <button type="button" class="btn btn-master-controls fa fa-volume-up dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"></button>
          <div class="dropdown-menu">
            <input id='volume-control' type="range" [(ngModel)]="volume" min="0" max="1" step="any" (change)="changeVolume($event)" />
          </div>
        </div>
        <!--
                  -->
      </div>
    </div>
  </div>
  <div class="sound-player-blur"></div>
</div>