<div class="main-content">
  <div class="nl__artists-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 ">
            <div class="contain-wrap">
              <h2>Community <span>Guidelines</span></h2>
              <p>
                Yes, it is an open social platform where user will contribute a song, lyrics and lyric karaoke synchronization. User can do share,
                like and comment.
              </p>
              <p>
                We want this community of Nepali music industry to be respectful. Please do respect each and other.
              </p>
              <h2>Respect</h2>
              <p>
                Do you know how to get respect? It's simple!, respect others, period.
                
              </p>
              <p>
                Yes we are different and we have different views and opinions on a single
                subject. Freedom of speech and the fundamental rights for individuals
                to express themselves is what we support here.
              </p>
              <p>
                <strong>Don't Bully: </strong>
                Abusive or threatening behaviour within the community is what we don't tolerate.
                Immediate, permanent termination of account will the result.
              </p>
              <p>
                <strong>Constructive Critisism: </strong>
                A valuable tool to improve the community as well as Nepali music industry. 
                Before posting feedback, always ask yourself whether you would appreciate receiving the same feedback. 
                If not, don’t post it.
              </p>
              <p>
                <strong>Privacy of others:</strong> 
                Everyone has the right to privacy, no matter who they are. 
                Don’t share personal details of another person (or entity), 
                without their permission. This includes recordings of private 
                conversations, photographs, unlisted phone numbers, and home or 
                email addresses.
              </p>
              <h2>Be Gunuine</h2>
              <p>
                Fake accounts and pretending to be others are prohibited. One shouldn't 
                impersonate another person and publish a content that is intentionally
                misleading and not related to the Nepali music.
              </p>
              <h2>Content Not Allowed</h2>
              <p>
                Anything that is not related to Nepali music or misleading content
                will be removed from the platform asap. 
              </p>
            </div>
         
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="">
            <div class="widget">
              <div class="widget-content">
                <nl-site-links class="aside-nav"></nl-site-links>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>