<div class="main-content">
 <div class="hero-about-us"> </div>
 <section class="section-padding about-wrap">
  <div class="container">
   <div class="row">
   <div class="col-sm-6">
   <img class="show-box" src="../../../assets/images/about-us-mac.png" alt="about-us">
   </div>
    <div class="col-sm-6">
     <div class="block-heading">
      <div class="block-heading-lt">
       <h2 class="block-title">Proudly supporting and promoting <span>Nepali Music!</span> </h2>
      </div>
     </div>
     <p> Nepalyrics (Nepali + Lyrics) is an open social platform driven by community and for community of Nepali music enthusiasts. A platform where user can contribute their favourite Nepali songs/lyrics/artists/photographs. Share it among friends, follow friends and artists. </p>
     <p> Being an open platform users' can contribute the songs audio, lyrics and artists as well as photographs of songs and artists. It provides an easy way to synchronize an audio with lyrics, just by listening an audio and tapping at times. That's it. </p>
    </div>
   </div>
  </div>
 </section>
 <section  class="about-wrap lyrics-ft-wrap section-white-bg" style="padding-bottom: 30px;">
  <div class="about-background-image"> 
  <img src="../../../assets/images/karaoke-bg-large-screen.jpg" alt="karaoke-bg" class="lg-screen-img">
  <img src="../../../assets/images/karaoke-bg-ipad-screen.jpg" alt="karaoke-bg" class="ipad-screen-img"> 
  <img src="../../../assets/images/karaoke-bg-mobile-screen.jpg" alt="karaoke-bg" class="mobile-screen-img">
 
  </div>
  <div class="hanging-wrap">
   <div  class="hanging-info-lt">
    <div class="block-heading">
     <div class="block-heading-lt">
      <h2 class="block-title">Audio Synced <span>Lyrics</span></h2>
     </div>
    </div>
    <h4 class="text-uppercase">Sing along with song</h4>
    <h4 class="text-uppercase">Our audio synced lyrics made it possible</h4>
    <h4 class="text-uppercase">Sync yours favourite song, Easily!</h4>
   </div>
   <div  class="hanging-info-rt"> 
   	<img src="../../../assets/images/karaoke-MacBook-Silver.png" alt="karaoke-MacBook" class="hanging-image">
   </div>
  </div>
 </section>
 <section  class="section-padding section-white-bg about-wrap text-center">
  <div class="container">
   <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
     <div class="block-heading text-center">
      <div class="block-heading-lt">
       <h2 class="block-title">Our <span>Features</span> </h2>
      </div>
     </div>
     <div class="row">
      <div class="col-sm-4 feature-wrap"> <img src="../../../assets/images/icon-user-friendly.png" alt="user-friendly">
       <h3 class="block-title">User friendly</h3>
       <h5> Easily contribute your favorite song</h5>
       <h5> Easy of lyric synchronization</h5>
      </div>
      <div class="col-sm-4 feature-wrap"> <img src="../../../assets/images/icon-playlist.png" alt="user-playlist">
       <h3 class="block-title">Playlist</h3>
       <h5>Enjoy existing community driven playlists</h5>
       <h5>Make your own playlist</h5>
      </div>
      <div class="col-sm-4 feature-wrap"> <img src="../../../assets/images/icon-connected.png" alt="user-connected">
       <h3 class="block-title">Stay Connected</h3>
       <h5> With your favorite artists</h5>
       <h5>With your favorite songs</h5>
       <h5>With your colleagues</h5>
      </div>
     </div>
    </div>
   </div>
  </div>
 </section>
 <section  class="about-wrap responsive-wrap">
  <div class="about-background-image"> 
  	<img src="../../../assets/images/responsive-bg-large-screen.jpg" alt="responsive-bg" class="lg-screen-img">
    <img src="../../../assets/images/responsive-bg-mobile-screen.jpg" alt="responsive-bg" class="mobile-screen-img">
    <img src="../../../assets/images/responsive-bg-ipad-screen.jpg" alt="responsive-bg" class="ipad-screen-img">  
  </div>
  <div class="hanging-wrap">
   <div  class="hanging-info-lt">
    <div class="block-heading">
     <div class="block-heading-lt">
      <h2 class="block-title">Mobile Friendly: <span>Responsive Design</span></h2>
     </div>
    </div>
    <h4 class="text-uppercase">Fits in all device screen</h4>
    <h4 class="text-uppercase">Use it in all devices you have</h4>
   </div>
   <div  class="hanging-info-rt"> <img src="../../../assets/images/responsive-devices.png" alt="responsive-devices"> </div>
  </div>
 </section>
 
 
 
 
 
 <section  class="section-padding connect-wrap">
  <div class="container">
   <div class="row">
    <div class="col-sm-offset-6 col-sm-6">
     <div class="block-heading">
      <div class="block-heading-lt">
       <h2 class="block-title">Connect with <span>Nepalyrics</span> </h2>
      </div>
     </div>
     <p> A tight integration with a major social platforms Facebook and Twitter along with limited integration with google plus allows user to share their favourite artists and songs. It allows users to be up to date with their favourite artists and songs and also provides an ability to discuss about lyrics/songs and share their taste of music. Like, comment, follow, share and most of all enjoy the Nepali music. </p>
     <div class="social-connect"> <a class="facebook" href="https://www.facebook.com/nepalyrics/"><i class="fa fa-facebook"></i></a> <a class="twitter" href="https://twitter.com/nepalyrics/"><i class="fa fa-twitter"></i></a> <a class="instagram" href="https://instagram.com/nepalyrics/"><i class="fa fa-instagram"></i></a> <a class="youtube" href="https://www.youtube.com/channel/UCkMHxTU6ROG7uY18RSyUIyg"><i class="fa fa-youtube"></i></a> <a class="google-plus" href="https://plus.google.com/u/0/100833590764200593362/"><i class="fa fa-google-plus"></i></a> </div>
    </div>
   </div>
  </div>
 </section>
</div>
