.navbar-default.header-transparent {
	background-color: rgb(17, 33, 70);
}
.header-btn-wrap {
	display: inline-block;
	margin-right: 8px;
}
.btn-info {
	height: 35px;
	display: none;
	margin: 0 0 0 -38px;
	padding: 8px 12px 8px 36px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 100px;
	border: none;
	color: #000;
	font-size: 12px;
	text-transform: uppercase;
	cursor: default;
}
.btn-contributor {
	height: 35px;
	position: relative;
	padding: 8px 20px;
	border: none;
	text-transform: uppercase;
	z-index: 99;
}
.navbar-right.btn--group .btn i {
	display: none;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.6);
}
.navbar-right.btn--group .btn:hover i {
	color: rgba(255, 255, 255, 1);
}
.badge-float {
	width: 20px;
	height: 20px;
	position: absolute;
	padding: 0;
	left: 15px;
    top: -15px;
	background-color: #fa6262;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px;
}


@media (max-width:1600px) {
.btn-info {
	display: none;
}
.navbar-right.btn--group .btn span {
	display: none;
}
.navbar-right.btn--group .btn {
	width: 36px;
	height: 36px;
	padding: 7px 4px;
}
.navbar-right.btn--group .btn i {
	display: block;
}
.navbar-right.btn--group .btn {
	border: none;
	background: none;
}
.navbar-right.btn--group .btn:hover {
	background: none;
}
}

@media (max-width:1200px) {
.header-btn-wrap button span {
	display: none;
}
.btn-contributor {
	height: auto;
	border-radius: 100%;
	padding: 10px 13px;
}
}

@media (max-width:992px) {
.header__right {
	padding-bottom: 20px;
}
}

@media (max-width:767px) {
.header__right {
	position: absolute;
	top: 18px;
	right: 52px;
}
.navbar-right.btn--group {
	display: inline-block;
}
.btn-contributor {
	margin: 0;
}
.navbar-right.btn--group .btn {
	margin: 0 5px 0 0;
	padding: 3px 0;
}
.navbar-right.btn--group .btn i {
	font-size: 24px;
}
}

@media (max-width:600px) {
.btn-info {
	display: none;
}
}

@media (max-width:480px) {
.navbar-right.btn--group {
	padding: 0;
}
}

@media (max-width: 400px) {
.header-btn-wrap {
    margin: 0;
}	
.btn-contributor {
	padding: 7px 5px;
}
}
