<div class="main-content">
  <div class="nl__artists-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 ">
            <div class="contain-wrap">
              <h2>Copyright <span>Informations</span></h2>
              <p>
              Being an open platform for Nepali music industry doesn't mean we don't respect copyright of artist work. We do respect each
              and every work of our singers, lyricists, musicians and others.
              </p>
            <p>
                We want our community to enjoy and love the Nepali music care free. No need to worry about all the copyright infringement
                issues. We will take care of copyright internally working with <a target="_blank" href="http://www.mrcsn.org/">Music Royalty Collection Society Nepal [MRCSN]</a>
              </p>
              <div>
                <ul>
                  <li>Contribute a lyrics of a song,</li>
                  <li>Upload an audio of song(should be of good quality).</li>
                  <li>Synchronize lyrics with a song</li>
                </ul>
                <p>
                  But don't forget to add correct singer/s, writer/s and composer/s, its very important. We will contact necessary parties
                  (singer/s, writer/s and composer/s) and ensure that their copyright will be respected fully.
                </p>
              </div>
              <h2 id="what-is-copyright">What is copyright?</h2>
              <p>“Copyright” is the term used to describe a number of legal rights that exist in original literary, musical,
                dramatic or artistic works, and in sound recordings, films, broadcasts and other creative works. Under copyright
                laws, these rights are exclusive to the copyright owner, and enable the copyright owner to control how their
                work is used and to prevent unauthorised use.</p>
              <p>Originally, copyright laws allowed the creator of a work to prevent that work from being copied, but copyright
                laws have gradually been extended over time, and now allow copyright owners to prevent and control things
                like adaptation or public performance of the copyright work, inclusion of the work in a broadcast, or distribution
                of the work both physically and on the Internet. Because these rights are exclusive to the copyright owner,
                anyone wanting to do any of these things needs the permission of the copyright owner.</p>
              <p>Copyright can exist in all sorts of things - for example, music, lyrics, photographs, artwork, books, speeches,
                TV programmes and movies. Also, what might appear to be a single work can include several different copyrights
                owned by various different people. For example, a music track by a signed artist will often include separate
                copyrights in the composition, the lyrics, and the sound recording. Copyright in the music and lyrics will
                usually be owned by the artist or music publishing company, and copyright in the sound recording will usually
                be owned by the artist’s record label. Use of that track, including any adaptation of the track or any uploading
                or sharing over the Internet, will require the permission of all of these copyright owners, either directly
                or through their representatives (for example, through a collecting society or performing rights organisation).</p>
            <h2>How do I avoid copyright infringement?</h2>
            <p>
              It’s simple; if material is created by someone other than you and 
              you have not been authorized to use the material, then do not use it. 
              Giving credit to the copyright owner or stating that you did not intend 
              to infringe copyright will not act as a valid defense. 
              If you do decide to use another person’s work, ensure that you have 
              obtained the necessary permissions first. This will often be in the 
              form of a license obtained from the copyright owner(s) that you may have 
              to pay for.
            </p>
            <h2>Further Informations</h2>
            <p>
              For more informations about copyright in Nepal, please visit
              <a target="_blank" href="http://www.nepalcopyright.gov.np/">http://www.nepalcopyright.gov.np/</a>
            </p>
            </div>
        </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="">
          <div class="widget">
            <div class="widget-content">
              <nl-site-links class="aside-nav"></nl-site-links>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>