<div class="widget" *ngIf='songIntros.length>0'>
  <div class="widget-header">
    <h3 class="widget-title">{{widgetTitle}}</h3>
  </div>
  <div class="widget-content" *ngIf='songIntros?.length>0'>
    <ul class="track__list">
      <nl-intro-view-cell [thumbnailSize]="40" [content]='content' *ngFor='let content of songIntros | songIntroToIntroViewContent
                                               :songWithAddToQueueCommandFactory
                               :songIntroCommandsFactoryService'></nl-intro-view-cell>
    </ul>

  </div>

  <a class="track_view-btn" *ngIf="hasMore" (click)="getMoreSongs()">View more</a>
</div>
