<div class="login-form-center box">
  <div class="form-header">
    <h2 class="fh-title">Forgot <span>password?</span></h2>   
    <div class="fh-subtitle" *ngIf='!resetLinkSent'>Enter your ID to help us to identify you.</div>
  </div>
  <form *ngIf='!resetLinkSent' [formGroup]="nlForm" class="nl-form"   id="recover-pwd" (ngSubmit)="onForgotPasswordSubmit(nlForm.value)">
    <fieldset>
      <div *ngIf='modelState.length>0'>
        <div  class="alert alert-danger fade in alert-dismissable nl-alert">
            <!--<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>-->
            <ul>
                <li *ngFor='let error of modelState'>
                    {{error}}
                </li>
            </ul>
            {{error}}
        </div>
      </div>
      <div class="form-group" >
        <input class="form-control" formControlName ="email" name="email" placeholder="Your email address" type="email"/>
      </div>      
      <div class="recover-btn-group text-center">
        <button class="buttonload btn btn-success" [disabled]="!nlForm.valid">
                <i *ngIf="isRequesting" class="fa fa-circle-o-notch fa-spin"></i>Recover
        </button>
         <a class="has-password" (click)='havePassword()'>Have your password?</a>
      </div>
      
    </fieldset>
  </form>
  <div *ngIf='resetLinkSent' class="text-left">
        We received your request for password reset link. You should receive the email soon.
        <br><br><span style="color:red">Note:</span> If you did not receive the email in few minutes this could be because:
        <ul>
          <li>You mistype your email</li>
          <li>The email was delayed or routed to your junk email folder</li>
        </ul>
      </div>
</div>