<div class="nl-form-outer-wrapper">
  <div>
    <div class="form-header">
      <h3 class="fh-title">Welcome to <span>Nepalyrics</span></h3>
    </div>
    <p class="text-center">Please Confirm your email address to complete your Nepalyrics account.</p>
    <div class="text-center mg-t-10">
      <h5 class="info-heading"><a href="#">Didn't recieve the email?</a></h5>
      <a>Resend confirmation</a>
      <p>Check spam or bulk folders for a message coming from no-reply@nepalyrics.com</p>
      
    </div>
  </div>
</div>