<div class="main-content">
  <div class="nl__artists-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 ">
          <div class="mat-tab-body-wrapper">
            <div class="mat-tab-body">
              <h2>Terms <span>Of Use</span></h2>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="">
            <div class="widget">
              <div class="widget-content">
                <nl-site-links></nl-site-links>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
