<section class="track-info-box">
    <div class="container">
        <div class="track-info-heading text-center">
            <h3>A page for every <span>artist, playlist and song</span> you’ve ever played</h3>

            <p>Driven by community for community, artist biography, auto scrolling lyrics.</p>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-4">
                <div class="track-info--box">
                    <span class="ti-icon songs-icon"></span>
                    <span class="ti-box-title">Songs</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="track-info--box">
                    <span class="ti-icon artists-icon"></span>
                    <span class="ti-box-title">Artists</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="track-info--box">
                    <span class="ti-icon album-icon"></span>
                    <span class="ti-box-title">Playlists</span>
                </div>
            </div>
        </div>
    </div>
</section>