<div class="billboard">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
    <div class="headline">
                <div>
                <h2>Find Nepali songs and artists you love.<br>
<strong>Contribute your favorite Nepali Songs.</strong></h2>
                	<i id="star-1" class="star"><img src="../../../assets/images/star-1.png" alt="star"></i>
                	<i id="star-2" class="star"><img src="../../../assets/images/star-2.png" alt="star"></i>
                	<i id="star-3" class="star"><img src="../../../assets/images/star-3.png" alt="star"></i>
                	<i id="star-4" class="star"><img src="../../../assets/images/star-4.png" alt="star"></i>
                	<i id="star-5" class="star"><img src="../../../assets/images/star-5.png" alt="star"></i>
                	<i id="star-6" class="star"><img src="../../../assets/images/star-3.png" alt="star"></i>
                	<i id="note-1" class="note"><img src="../../../assets/images/note-1.png" alt="note"></i>
                	<i id="note-2" class="note"><img src="../../../assets/images/note-2.png" alt="note"></i>
                	<i id="note-3" class="note"><img src="../../../assets/images/note-3.png" alt="note"></i>
                    
                </div>
            </div>
      <div class="home-search">
        <nl-search-form></nl-search-form>
      </div>
    </div>
  </div>
</div>