.sound-player {
	position: relative;
	display: inline-block;
	width: 100%;
	font-family: helvetica, arial, verdana, sans-serif;
	font-weight: normal;
	/* prevent background border bleed */
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	/* because indeed, fonts do look pretty "fat" otherwise in this case. */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	/* general font niceness? */
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	min-width: 20em;
	max-width: 30em;
	/* take out overflow if you want an absolutely-positioned playlist dropdown. */
	border-radius: 2px;
	/* just for fun (animate normal / full-width) */
	transition: all 0.2s ease-in-out;
}
.mini-audio-holder {
	display: inline-block;
	width: 100%;
}
.sound-player.mini {
	max-width: 100%;
	min-width: 1em;
}
.player-main-controls {
	width: 100%;
	display: table;
	position: relative;
}
.player-button-element {
	width: 1%;
	min-width: 2.8em;
	min-height: 2.8em;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	padding: 0px;
}
.sound-player .player-button-wrap {
	min-height: 2.8em;
	min-width: 2.8em;
	position: relative;
}
.sound-player .btn-sound-player, .sound-player .btn-add-queue {
	width: 100%;
	height: 100%;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	font-size: 20px;
	background-color: transparent;
	box-shadow: none;
	z-index: 9;
}
.sound-player .btn-sound-player:after {
	width: 37px;
	height: 37px;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 100%;
	background-color: #2189f7;
	z-index: -1;
}
.player-button-wrap .glyphicon-play, .player-button-wrap .glyphicon-pause {
    text-indent: 3px;
}
.sound-player .btn-sound-player:hover:after, .glyphicon-pause:after {
	border-color: #21aef7;
	background: #1a8de9;
	background: -moz-linear-gradient(-45deg, rgba(26,141,233,1) 0%, rgba(42,201,241,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(26,141,233,1) 0%, rgba(42,201,241,1) 100%);
	background: linear-gradient(135deg, rgba(26,141,233,1) 0%, rgba(42,201,241,1) 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a8de9', endColorstr='#2ac9f1', GradientType=1)
}

.current-playlist {
	height: 1.45em;
	position: relative;
	line-height: 100%;
}
.playlist-target {
	min-height: 1em;
	position: relative;
}
.current-playlist-wrap {
	width: 100%;
	margin: 0;
	padding: 1px 0;
	position: absolute;
	top: 0;
	left: 0;
	list-style-type: none;
	line-height: 1em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.current-playlist li, .current-playlist li a {
	height: 1.5em;
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: left;
	font-size: 95%;
	line-height: 1em;
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.btn-start-karaoke, .btn-add-karaoke {
	width: 100%;
	height: 100%;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	font-size: 24px;
	background-color: transparent;
	background: url(../../../../assets/images/icon-karaoke.png) no-repeat center;
	background-size: 18px;
	box-shadow: none;
}
.btn-start-karaoke:hover, .btn-start-karaoke:active {
	background-image: url(../../../../assets/images/icon-karaoke-active.png);
}
.btn-add-karaoke {
	background-image: url(../../../../assets/images/icon-add-karaoke.png);
}
.btn-add-karaoke:hover, .btn-add-karaoke:active {
	background-image: url(../../../../assets/images/icon-add-karaoke-active.png);
}
.sound-player .btn-add-queue {
	font-size: 18px;
}
.sound-player .btn-add-queue:hover, .sound-player .btn-add-queue:focus {
	color: #2189f7;
}

.player-inline-status {
	max-width: 100%;
	min-width: 100%;
	width: 100%;
	position: relative;
	display: table-cell;
	padding: 0 0.75em;
	line-height: 100%;
	overflow: hidden;
	vertical-align: middle;
}

